<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Home Page</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <nav>
            <div class="main-navbar">
                <div class="logo">
                    <img class="logo-img" width="40px" height="45px"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFVTP2fH1zmjX1HQSf9oIipPK0qArjDWPbJQ&usqp=CAU"
                        alt="blog" />
                    <h3>Ecommerce</h3>
                </div>
                <div class="nav-option">
                    <a href="/warehouse" class="btnLink">ADD YOUR PRODUCT</a>
                    <a href="/login" class="btnLink">SIGN IN</a>
                    <a href="/register" class="btnLink">REGISTER</a>
                    <img src="./saveLoin.jpg" alt="">
                </div>
            </div>
            <hr>
        </nav>
        <div class="upper-image">
            <img class="upper-image1" src="./uper case.jpg" alt="iuytrhjk">
        </div>
    </header>

    <% articles.forEach((articl)=> { %>
                    <div class="container-fluld">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid">
                                    <div class="product-image">
                                        <a href="/shipment">
                                            <img class="pic-2" src=<%= articl[0].image %>>
                                        </a>
                                        <span class="product-new-label">Sale</span>
                                        <span class="product-discount-label">20%</span>
                                    </div>
                                    <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star disable"></li>
                                    </ul>
                                    <div class="product-content">
                                        <h3 class="title"><a href="/shipment"><%= articl[0].title %></a></h3>
                                        <div class="price">
                                            <span>$<%=articl[0].price%></span>
                                        </div>
                                        <a class="add-to-cart" href="/shipment">+ Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid">
                                    <div class="product-image">
                                        <a href="/shipment">
                                            <img class="pic-2" src=<%= articl[1].image %>>
                                        </a>
                                        <span class="product-new-label">Sale</span>
                                        <span class="product-discount-label">50%</span>
                                    </div>
                                    <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                    </ul>
                                    <div class="product-content">
                                        <h3 class="title"><a href="/shipment"><%= articl[1].title %></a></h3>
                                        <div class="price">
                                            <span>$<%=articl[1].price%></span>
                                        </div>
                                        <a class="add-to-cart" href="">+ Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid">
                                    <div class="product-image">
                                        <a href="/shipment">
                                            <img class="pic-2" src=<%= articl[2].image %>>
                                        </a>
                                        <span class="product-new-label">Sale</span>
                                        <span class="product-discount-label">50%</span>
                                    </div>
                                    <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                    </ul>
                                    <div class="product-content">
                                        <h3 class="title"><a href="/shipment"><%= articl[2].title %></a></h3>
                                        <div class="price">
                                            <span>$<%=articl[2].price%></span>
                                        </div>
                                        <a class="add-to-cart" href="">+ Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid">
                                    <div class="product-image">
                                        <a href="/shipment">
                                            <img class="pic-2" src=<%= articl[3].image %>>
                                        </a>
                                        <span class="product-new-label">Sale</span>
                                        <span class="product-discount-label">50%</span>
                                    </div>
                                    <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                    </ul>
                                    <div class="product-content">
                                        <h3 class="title"><a href="/shipment"><%= articl[3].title %></a></h3>
                                        <div class="price">
                                            <span>$<%=articl[3].price%></span>
                                        </div>
                                        <a class="add-to-cart" href="/shipment">+ Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                        <% }) %>

</body>

</html>